version: "3.7"

services:

  stream-broker:
    image: wurstmeister/kafka:2.12-2.3.0
    depends_on:
      - stream-zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: stream-broker
      KAFKA_ZOOKEEPER_CONNECT: stream-zookeeper:2181
  stream-zookeeper:
    image: wurstmeister/zookeeper:3.4.6

  accesspoint-proxy:
    image: au10/service.accesspoint-proxy
    environment:
      ACCESSPOINT_HOST: 192.168.6.169
      ACCESSPOINT_PORT: 2917
    ports:
      - "8443:8443"