version: "3.7"

services:

  stream-broker:
    image: wurstmeister/kafka:2.12-2.3.0
    depends_on:
      - stream-zookeeper
    environment:
      KAFKA_ADVERTISED_HOST_NAME: stream-broker
      KAFKA_ZOOKEEPER_CONNECT: stream-zookeeper:2181
    ports:
      - "9092:9092"
  stream-zookeeper:
    image: wurstmeister/zookeeper:3.4.6

  publisher:
    image: registry.gitlab.com/au10/service.publisher:master
    depends_on:
      - stream-broker
    command: -name 1 -stream_brokers stream-broker:9092

  accesspoint-1:
    image: registry.gitlab.com/au10/service.accesspoint:master
    depends_on:
      - stream-broker
    command: -name 1 -port 2917 -stream_brokers stream-broker:9092
  accesspoint-2:
    image: registry.gitlab.com/au10/service.accesspoint:master
    depends_on:
      - stream-broker
    command: -name 2 -port 2917 -stream_brokers stream-broker:9092
  accesspoint-3:
    image: registry.gitlab.com/au10/service.accesspoint:master
    depends_on:
      - stream-broker
    command: -name 3 -port 2917 -stream_brokers stream-broker:9092
  accesspoint-proxy:
    image: registry.gitlab.com/au10/service.accesspoint-proxy:master
    depends_on:
      - accesspoint-1
      - accesspoint-2
      - accesspoint-3
    environment:
      HOST_LIST: >-
        [
          {socket_address: {address: accesspoint-1, port_value: 2917}},
          {socket_address: {address: accesspoint-2, port_value: 2917}},
          {socket_address: {address: accesspoint-3, port_value: 2917}}
        ]
    ports:
      - target: 8443
        published: 443
        protocol: tcp
        mode: host